body {
    background: grey;
    .meeting {
        margin: 15%;
        align-items: center;
        background: #fd0;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 245px;
    }
    .list {
        margin-top: 20px;
        background: #fd0;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 1300px;
    }
}

header {
    display: flex;
    .quit{
        margin-left: auto;
        padding: 30px;
    }
}
